<style>
  nav {
    padding: 0px 0px 30px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #edeef6;
  }
  input.nav {
    background-color: #edeef6;
    width: 33vw;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
  }
  .nav:hover {
    background-color: lightblue;
    color: black;
    transition: 0.8s;
    box-shadow: 2px 2px;
    font-size: larger;
  }
  #newentry:hover,
  #login:hover {
    background-color: lightgreen;
  }
  #logout:hover {
    background-color: lightcoral;
  }
  #register:hover {
    background-color: lightgoldenrodyellow;
  }
</style>
<nav>
  <% if(currentUser) { %>
  <form action="/entries">
    <input class="nav" type="submit" value="HOME" />
  </form>
  <form action="/entries/new">
    <input id="newentry" class="nav" type="submit" value="NEW ENTRY" />
  </form>
  <form action="/sessions?_method=DELETE" method="POST">
    <input
      id="logout"
      class="nav"
      type="submit"
      value="LOG OUT (<%= currentUser.email %>)"
    />
  </form>
  <% } else { %>
  <form action="/entries">
    <input class="nav" type="submit" value="HOME" />
  </form>
  <form action="/users/new">
    <input id="register" class="nav" type="submit" value="REGISTER" />
  </form>
  <form action="/sessions/new">
    <input id="login" class="nav" type="submit" value="LOGIN" />
  </form>
  <% } %>
</nav>
