<nav>
  <% if(currentUser) { %>
  <a href="/entries">Home</a>
  <a href="/entries/new">New Entry</a>
  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Log Out" />
  </form>
  <% } else { %>
  <a href="/entries">Home</a>
  <a href="/users/new">Register</a>
  <a href="/sessions/new">Login</a>
  <% } %>
</nav>
