<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Foggy Dog Music Blog</title>
  </head>
  <body id="landing">
    <%- include('./partials/nav.ejs') %>
    <header><h1>Welcome to Foggy Dog Music Blog!</h1></header>
    <main id="landing">
      <a href="/entries"><div class="landingphoto"></div></a>
    </main>
  </body>
</html>
