img {
  max-width: 250px;
  max-height: auto;
  opacity: 80%;
  border: solid black 1px;
  margin-left: 5px;
}
img:hover {
  opacity: 100%;
}
img.show {
  opacity: 100%;
  /* margin: auto; */
}
* {
  box-sizing: border-box;
  margin-left: 5px;
}
body {
  background-color: #edeef6;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  min-height: 100vh;
  margin: auto;
}
a {
  text-decoration: none;
}
.modal-container {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}
.modal {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}
textarea {
  resize: none;
  width: 30em;
  height: 15em;
}
div.entries {
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  min-width: 50vw;
  max-width: 100vw;
  justify-content: space-around;
  align-content: space-around;
}
h1.entries {
  text-align: center;
}
.editdelete {
  display: flex;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
}
#right {
  margin-top: 130px;
  /* margin: auto; */
  text-align: justify;
  margin-right: 10px;
}
