<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recent Entries</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <main>
      <!-- <a href="/entries/new">Create a new Entry</a> -->
      <h1>List of Entries</h1>
      <ul>
        <% for(let i = 0; i < entries.length; i++){ %>
        <li>
          <a href="/entries/<%= entries[i]._id %>"><%= entries[i].artist %></a>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
