<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Foggy Dog Music Blog</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="/public/css/style.css">
    <style>
      .newsidebar {
        width: 50%;
        background: url("https://i.imgur.com/ADqDF03.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px 0 0 10px;
      }
    </style>
  </head>

  <body>
    <header></header>
    <%- include('../partials/nav.ejs') %>
    </header>
    <div class="newcontainer">
      <div class="newsidebar"></div>
      <div class="newform">
    <main class="newentry">
        <h1>Create an Entry</h1>
        <fieldset>
          <legend>Album Information</legend>
      <form action="/entries" method="POST">
        Artist: <br /><input type="text" name="artist" required/><br />
        Album: <br /><input type="text" name="album" required/><br />
        Cover Image URL: <br /><input type="url" name="img" /><br />
        Year Released: <br /><input type="number" name="year" required/><br />
      </fieldset>
      <fieldset>
        <legend>Your Information</legend>
        Your Name: <br /><input type="text" name="name" required/><br />
        Comments: <br /><textarea class='new' name="comments" required></textarea><br />
        Date Submitted: <input type="date" name="date"/> <br>
        <% if(currentUser) { %>
        <input type='hidden' type="text" name="user" value="<%=currentUser.email%>">
        <% } %>
        <br>
      </fieldset>
        <% if (currentUser) { %>
        <input class="btn btn-success" type="submit" value="Create Entry" /><br />
        <% } %>
      </form>
    </main>
  </div>
  </div>
  </body>
</html>
