<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Foggy Dog Music Blog</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="/public/css/style.css">
  </head>

  <body>
    <header></header>
    <%- include('../partials/nav.ejs') %>
    </header>
    <main class="newentry">
        <h1>Create an Entry</h1>
      <form action="/entries" method="POST">
        Artist: <br /><input type="text" name="artist" required/><br />
        Album: <br /><input type="text" name="album" required/><br />
        Cover: <br /><input type="url" name="img" /><br />
        Year Released: <br /><input type="number" name="year" required/><br />
        Name: <br /><input type="text" name="name" required/><br />
        Comments: <br /><textarea class='new' name="comments" required></textarea><br />
        Date Submitted: <input type="date" name="date"/> <br>
        <input type="text" name="username" value="<%=currentUser.username%>"
        <br>
        <input class="btn btn-success" type="submit" value="Create Entry" /><br />
      </form>
    </main>
  </body>
</html>
